spring:
  cloud:
    openfeign:
      client:
        config:
          default:
            logger-level: full
            connect-timeout: 1000
            read-timeout: 2000
          service-product:
            logger-level: full
            connect-timeout: 1000
            read-timeout: 1000
    sentinel:
      transport:
        dashboard: localhost:8080
      eager: true
      web-context-unify: false
feign:
  sentinel:
    enabled: true
